@import "../../../../global";

.header {
    padding: 8rem 0 6.25rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;

    .bg_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(233, 82, 87, 0.7);
        }
    }
    &_container {
        position: relative;
        color: $light-color;

        .section_title {
            color: $light-color;
            margin-bottom: 1rem;
        }

        .info {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .text {
                font-size: $normal-fz;
                font-weight: $semi-bold-fw;
            }
        }
    }
}