@import "../../global";

.socials {

    &__wrapper {
        position: fixed;
        z-index: 90;
        bottom: 5rem;
        right: 2rem;
        user-select: none;

        &.active {
            .social__btn:not(:nth-child(1)) {
                opacity: 1;
                visibility: visible;
            }
            .social__btn:nth-child(2) {
                transition-delay: unset;
            }
            .social__btn:nth-child(3) {
                transition-delay: .1s;
            }
            .social__btn:nth-child(4) {
                transition-delay: .2s;
            }
            .social__btn:nth-child(5) {
                transition-delay: .3s;
            }
        }

        .social__btn {
            width: 50px;
            height: 50px;
            border-radius: $radius-full;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: 1px solid $light-color;
            transition: .3s;

            &:not(:nth-child(1)) {
                opacity: 0;
                visibility: hidden;
            }

            .icon {
                color: $light-color;
                font-size: 1.5rem;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: $radius-full;
                overflow: hidden;
                z-index: -1;
                transition: .3s ease-out;
            }

            &:not(:nth-child(1)):hover {
                &::before {
                    top: -0.5rem;
                    right: -0.5rem;
                    bottom: -0.5rem;
                    left: -0.5rem;
                }
            }

            &_1 {
                background-color: $socical-icon-1;

                &::before {
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: $socical-icon-bg-1;
                    animation: social_btn_1 3s ease infinite;
                    transition: .3s;
                }

                &.active {

                    &::before{
                        top: -1.25rem;
                        right: -1.25rem;
                        bottom: -1.25rem;
                        left: -1.25rem;
                        animation: none;
                    }
                }
            }

            &_2 {
                background-color: $socical-icon-2;
                transition-delay: .3s;

                &::before {
                    background-color: $socical-icon-bg-2;
                }

                transform: translateY(calc(-3rem - 5rem));
            }
            &_3 {
                background-color: $socical-icon-3;
                transition-delay: .2s;

                &::before {
                    background-color: $socical-icon-bg-3;
                }

                transform: translateY(calc(-7.5rem - 5rem ));
            }
            &_4 {
                background-color: $socical-icon-4;
                transition-delay: .1s;

                &::before {
                    background-color: $socical-icon-bg-4;
                }

                transform: translateY(calc(-12rem - 5rem ));
            }
            &_5 {
                background-color: $socical-icon-5;
                transition-delay: unset;

                &::before {
                    background-color: $socical-icon-bg-5;
                }
                transform: translateY(calc(-16.5rem - 5rem ));
            }

        }
        a, li {
            position: absolute;
        }
    }

    .letter {
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 100vh;
        background: rgba(50, 73, 94, 0.8);
        backdrop-filter: blur(5px);
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 2rem 4rem;

        &.active {
            display: flex !important;
        }

        .close__btn {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 1.5rem;
            color: $light-color;
            cursor: pointer;

            &:hover {
                color: $primary-500-color;
            }
        }

        &__wrapper {
            position: relative;
            background: $primary-color;
            max-width: 475px;
            width: 100%;
            max-height: 100%;
            padding: 5rem 3rem;
            border-radius: 20px;
            // overflow: hidden;
            cursor: default;
            overflow-y: auto !important;
            
            .letter__title {
                font-size: 34px;
                color: $light-color;
                text-align: center;
                width: 100%;
                margin-bottom: 20px;
            }

            .letter__sent {
                color: lime;
                text-align: center;
                border-bottom: 1px solid lime;
                padding: 1rem;
                margin-bottom: 20px;
                display: none;

                &.active {
                    display: block;
                }
            }

            .letter__form {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                align-items: center;

                .letter__input {
                    width: calc(100% - 2rem);
                    border-bottom: 1px solid $primary-500-color;
                    padding: 1rem;
                    font-size: 1rem;
                    color: $light-color;
                    text-transform: capitalize;
                }

                .letter__submit {
                    display: block;
                    padding: 1rem 3.5rem;
                    color: $light-color;
                    border: 1px solid $light-color;
                    border-radius: 50px;

                    &:hover {
                        color: $primary-color;
                        background-color: $light-color;
                    }

                    &.active {
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }
    }
}

@keyframes social_btn_1 {
    0%{
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }
    100% {
        top: -1.25rem;
        right: -1.25rem;
        bottom: -1.25rem;
        left: -1.25rem;
        opacity: 0;
    }
}

@media (hover: none){
    .socials {
        &__wrapper {
            .social__btn {
                &:not(:nth-child(1)):hover {
                    &::before {
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }

        .letter {
            .close__btn:hover {
                color: $light-color;
            }
            .letter__submit {
    
                &:hover {
                    background: $primary-color !important;
                    color: $light-color !important;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .letter {
        padding: 2rem 1rem !important;

        .close__btn {
            top: 1rem !important;
            right: 1rem !important;
        }
    }
}